LISTAS

In [45]:
#1
lista_colores = ['rojo', 'verde', 'azul', 'amarillo', 'naranja', 'morado']
lista_colores

['rojo', 'verde', 'azul', 'amarillo', 'naranja', 'morado']

In [46]:
#2
buses = ['lineaRoja', 'lineaVerde', 'lineaAzul', 'lineaAmarilla', 'lineaNaranja']
buses

['lineaRoja', 'lineaVerde', 'lineaAzul', 'lineaAmarilla', 'lineaNaranja']

In [47]:
#3
temperaturas= (39, 35, 36, 37, 38)

In [48]:
#4
mynombre = 'Tamara'
lista_caracteres = list(mynombre)
lista_caracteres

['T', 'a', 'm', 'a', 'r', 'a']

In [49]:
#5
misApellidos = 'Diaz Brevers'
lista_caracteres_CS = list(misApellidos)
print(lista_caracteres_CS)
lista_caracteres_AP = list(misApellidos.replace(" ", ""))
print(lista_caracteres_AP)

['D', 'i', 'a', 'z', ' ', 'B', 'r', 'e', 'v', 'e', 'r', 's']
['D', 'i', 'a', 'z', 'B', 'r', 'e', 'v', 'e', 'r', 's']

In [50]:
#6

print(buses)
print(len(buses))

['lineaRoja', 'lineaVerde', 'lineaAzul', 'lineaAmarilla', 'lineaNaranja']
5

In [51]:
#7
print(len(lista_caracteres_CS))

12

In [52]:
#8
temperaturas_semana = [19, 22, 21, 20, 18, 17, 21]
print(max(temperaturas_semana))
print(min(temperaturas_semana))

22
17

In [53]:
#9
e_name = mynombre.count('e')
print(e_name)

if 'e' in mynombre:
    print("La letra e está en mi nombre")
else:
    print("La letra e no está en mi nombre")

0
La letra e no está en mi nombre

In [54]:
#10 
'rosa' in lista_colores

False

In [55]:
#11
'x' not in mynombre

True

In [56]:
#12
temp_sem2 = temperaturas_semana.copy()
temp_sem3 = temperaturas_semana.copy()
print(temp_sem2)
print(sorted(temp_sem3))

[19, 22, 21, 20, 18, 17, 21]
[17, 18, 19, 20, 21, 21, 22]

In [57]:
#13 y 14
temp_sem2.clear()
print(temp_sem2)
print(temperaturas_semana)

[]
[19, 22, 21, 20, 18, 17, 21]

In [58]:
#15 y 16
mynombre2 = list(mynombre).copy()
print(mynombre2)

misApellidos2 = list(misApellidos).copy()
print(misApellidos2)

['T', 'a', 'm', 'a', 'r', 'a']
['D', 'i', 'a', 'z', ' ', 'B', 'r', 'e', 'v', 'e', 'r', 's']

In [59]:
#17
temp_sem3.reverse()
print(temp_sem3)

[21, 17, 18, 20, 21, 22, 19]

In [60]:
#18
mynombre2.sort()
print(mynombre2)


misApellidos2.sort()
print(misApellidos2)

['T', 'a', 'a', 'a', 'm', 'r']
[' ', 'B', 'D', 'a', 'e', 'e', 'i', 'r', 'r', 's', 'v', 'z']

In [61]:
#19
print(mynombre.count('a'))
print(mynombre.index('a')) # devuelve solo la primera vez que aparece, si queremos todos los index hay que hacer un bucle
print(mynombre.count('o'))

3
1
0

In [62]:
#20
print(mynombre2.count('a'))
print(mynombre2.count('o'))

3
0

In [63]:
#22 y 24
dias_en = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday','sunday']
penultimo_dia_semana = dias_en[-2]
print(penultimo_dia_semana)

saturday

In [64]:
#23 25
temperaturas_diciembre = [10, 10, 13, 14, 12, 15, 
                        12, 11, 13, 17, 18, 15, 
                        15, 17, 17, 13, 13, 11,
                        12, 10, 12, 14, 12, 12,
                        11, 12, 16, 16, 14, 17, 18]
print(len(temperaturas_diciembre))

last_temp = temperaturas_diciembre[-1]
last_temp

31

18

In [65]:
#26
if 'friday' in dias_en:
    print("Yes, friday is in the list")
    
print(dias_en.count('friday'))
dias_en.index('friday')

Yes, friday is in the list
1

4

In [66]:
#27
print(max(temperaturas_diciembre))
#28
dias_en.index('wednesday')

18

2

In [67]:
#29
print('La temperatura máxima esta semana será',max(temperaturas_semana),', que ocurrirá en', dias_en[2].capitalize(),'. El día más frío tendrá una',max(temperaturas_diciembre), 'que ocurrirá en', dias_en[-1].capitalize()+'.')

La temperatura máxima esta semana será 22 , que ocurrirá en Wednesday . El día más frío tendrá una 18 que ocurrirá en Sunday.

TUPLAS

In [68]:
persona1 = 61 , 1.54 , 'pelo marrón'

In [69]:
persona2 = (68, 1.65, 'pelo rubio')

In [70]:
talla = ['M', 42, 39]

In [71]:
#4
tuple(talla)

('M', 42, 39)

In [72]:
#5
tuple_persona = persona1 + tuple(talla) 
tuple_persona

(61, 1.54, 'pelo marrón', 'M', 42, 39)

In [ ]:
#6
color = persona2[2]
color

#otra forma de hacerlo:
#color = list(persona2).pop(2)
#color

'pelo rubio'

In [ ]:
#7
len(persona1)

3

In [76]:
#8
peso = persona1[0]
altura = persona1[1]
color_pelo = persona1[2]

color_pelo

'pelo marrón'

In [82]:
#9 
personas = zip(persona1, persona2)
print(personas)
print(list(personas))

<zip object at 0x1207d5040>
[(61, 68), (1.54, 1.65), ('pelo marrón', 'pelo rubio')]

In [85]:
#10
personas = list(zip(persona1, persona2))
print(len(personas))

3

In [87]:
#11
etiquetas = ('peso', 'altura', 'color_pelo')
todo = zip(etiquetas,persona2,persona1)
print(list(todo))

[('peso', 68, 61), ('altura', 1.65, 1.54), ('color_pelo', 'pelo rubio', 'pelo marrón')]

In [103]:
#12
personas_lista = sorted(personas)
personas_lista

TypeError: '<' not supported between instances of 'str' and 'float'

EJERCICIOS EXTRA

In [ ]:
#1
mi_lista = [2, 4, 6, 8]

lista_duplicada =mi_lista *2
lista_duplicada

[2, 4, 6, 8, 2, 4, 6, 8]

In [ ]:
#2
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

listas_juntas = zip(lista1, lista2)
list(listas_juntas)

[(1, 4), (2, 5), (3, 6)]

In [117]:
#3
sum_total = 0

for i in mi_lista:
    sum_total += i

print(sum_total)

20